* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
@media (max-width: 1200px) {
  .header-nav {
    gap: 2rem;
  }
  .hero-title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 10px;
    letter-spacing: -2px;
    padding: 4.7rem 0rem 2rem;
  }
  .hero-text {
    padding: 0rem 14rem;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .grid-gap {
    column-gap: 2rem;
  }
  .logo-png {
    max-width: 662px;
    bottom: -21rem;
    right: -3rem;
    opacity: 50%;
    overflow: hidden;
  }
  .content-section {
    padding: 9.6rem 0rem;
  }
  .service-section {
    padding: 9.6rem 0rem;
  }
  .service-title {
    font-size: 7.6rem;
    letter-spacing: -4px;
  }
  .service-flex-content {
    padding: 4rem 1.6rem;
  }
  .service-content {
    font-size: 1.5rem;
  }

  .mob-dev-content {
    padding: 9.6rem 0rem;
  }
  .industries-section {
    padding: 9.6rem 0rem;
  }
  .certified-section {
    padding: 3.6rem 2rem;
  }
  span {
    font-size: 3.2rem;
  }
  .stats-detail {
    font-size: 1.2rem;
  }
  .third-col {
    font-size: 1.6rem;
    margin-top: 2rem;
    line-height: 1;
    font-weight: 700;
  }
  .process-section {
    padding: 4.8rem 0rem;
  }
  .brand-value-flex {
    justify-content: center;
  }
  .margin-left-right {
    margin: 0rem 1rem;
  }
  .comitment-section {
    padding: 4.8rem 2rem;
  }
  .faq-section {
    padding: 9.6rem 1rem;
  }
  .blog-section {
    padding: 9.6rem 3rem;
  }
  .footer-1 {
    margin-right: 3rem;
  }
}
@media (min-width: 900px) and (max-width: 1024px) {
  .grid-gap {
    column-gap: 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .logo-png {
    max-width: 662px;
    bottom: -32rem;
    right: -3rem;
    opacity: 50%;
    overflow: hidden;
  }
  .logos {
    width: 100%;
    overflow-x: scroll;
  }
  .logo {
    margin: 0rem 2rem 1rem;
  }
  .grid--2cols {
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
  }
  .service-title {
    font-size: 5rem;
    letter-spacing: -2px;
    line-height: 1.2;
  }
  .service-grid {
    gap: 2rem;
  }
  .content-main-heading {
    font-size: 3.1rem;
  }
  .content-sub-heading {
    font-size: 1.6rem;
  }
  .content-grid {
    grid-template-columns: 1.5fr 2fr;
    gap: 0rem;
  }
  .industries-section {
    padding: 9.6rem 0rem;
  }
  .content-secondary-info {
    padding: 0rem 1rem;
  }
  .certified-section {
    padding: 4.8rem 0rem;
  }
  span {
    font-size: 2.8rem;
  }
  .stats-detail {
    font-size: 1.1rem;
  }
  .third-col {
    font-size: 1.5rem;
    margin-top: 2rem;
    line-height: 1;
    font-weight: 700;
  }
  .footer-1 {
    margin-right: 3rem;
  }
  .footer-flex {
    gap: 5rem;
  }
}
@media (max-width: 992px) {
  .content-section {
    padding: 4.8rem 0rem;
  }
  .industries-section {
    padding: 9.6rem 0rem;
  }
  .content-sub-heading {
    font-size: 1.5rem;
  }
  .differ-text {
    padding: 0rem 8rem;
  }
  .success-text {
    font-size: 1.8rem;
  }
  .mob-dev-content {
    padding: 9.6rem 0rem;
  }
  .footer-flex {
    flex-wrap: wrap;
  }
}
@media (max-width: 980px) {
  .header-flex {
    position: relative;
  }
  .header-nav {
    padding: 2.5rem 0rem;
    justify-content: center;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    background: #000;
  }
  .hero-content {
    transform: translate(0, -38%);
  }
  .hero-title {
    font-size: 5rem;
  }
  .hero-text {
    font-size: 2rem;
    padding: 0rem 10rem;
  }
  .color-div {
    height: 3rem;
    width: 100%;
    background-color: #111;
    opacity: 0.4;
  }
  .card-heading {
    font-size: 1.6rem;
  }
  .card-text {
    font-size: 1.4rem;
  }
  .clients-section {
    padding: 9.6rem 0 4.8rem;
  }
  .client-grid {
    grid-template-columns: 1fr;
  }
  .client-info {
    padding: 2rem 0rem;
  }
  .client-2::before {
    top: 0rem;
    left: 0rem;
  }
  .client-2::after {
    top: 0rem;
    right: 0rem;
  }
  .brand-value-flex {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .brand-value-logo {
    margin: 0rem 3rem 2rem;
  }
  .process-text,
  .faq-text {
    padding: 0rem 0rem 5rem;
  }
  .process-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .process-2.right-border {
    border-right: none;
  }
  .process-3,
  .process-4 {
    border-top: 2px dashed #d2b32f;
  }
  .comitment-section {
    padding: 9.6rem 2rem;
  }
  .comit-sec {
    padding: 3rem 1.5rem;
  }
}
