* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.wrapper {
  margin: 0 auto;
  max-width: 120rem;
}
/* ********************************* */
/* General Styling */
/* ********************************* */
.grid {
  display: grid;
  padding: 2rem;
}
.grid--2clos {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4cols {
  grid-template-columns: repeat(4, 1fr);
}
.section-title {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 9.5rem;
  text-align: center;
  color: #111;
  line-height: 8.8rem;
  letter-spacing: -6px;
  /* margin-top: 2rem; */
  padding: 4rem 0rem 2rem;
}
.section-title::after {
  content: "";
  width: 9rem;
  height: 0.3rem;
  background-color: #111;
  display: block;
  margin: 1.6rem auto 0 auto;
}
.section-text {
  font-size: 2.4rem;
  margin: 1.6rem auto 1.6rem auto;
  color: #111;
  text-align: center;
  font-weight: 700;
}
.centered-div {
  text-align: center;
}
.section-btn {
  color: #fff;
  background-color: #111;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -1px;
  padding: 1.6rem 4rem;
  margin: 2rem auto 4rem;
  border: none;
  transition: all 0.3s;
}
.section-btn:hover,
.section-btn:active {
  background: transparent;
  color: #111;
  box-shadow: inset 0px 0px 0px 3px #111;
  font-weight: 800;
  cursor: pointer;
}
/* ********************************* */
/* HEADER */
/* ********************************* */
.main-header {
  height: 7rem;
  background-color: #111;
}
.header-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.5rem;
}
.aclax-logo {
  height: 7rem;
  width: 7rem;
  display: block;
}
.header-nav {
  display: flex;
  gap: 3rem;
}
.header-nav-item:link,
.header-nav-item:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: -0.03rem;
}
.header-nav-item:hover,
.header-nav-item:active {
  color: #f7d74c;
}
.header-number {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
}
/* ********************************* */
/* Hero-section */
/* ********************************* */
.hero-section {
  height: 100vh;
  background-color: #f7d74c;
}
.hero-content {
  position: absolute;
  top: 54.5%;
  transform: translate(0, -50%);
  left: 0;
  right: 0;
}

.logo-png {
  height: 60rem;
  width: 80rem;
  position: absolute;
  top: 50%;
  right: 6.5%;
  z-index: -1;
}
/* ********************************* */
/* Hero-section */
/* ********************************* */
.logo-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  background-color: #111;
  padding: 5.5rem;
}
.logo-title {
  color: #e4c63f;
  padding: 0rem 2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  position: relative;
}
.logo-title::before,
.logo-title::after {
  content: "";
  height: 1px;
  width: 45rem;
  background-color: #fff;
  opacity: 0.3;
  position: absolute;
}
.logo-title::before {
  top: 0.75rem;
  left: 1rem;
}
.logo-title::after {
  top: 0.75rem;
  right: 1rem;
}
