* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
.float-btn {
  background-color: #377dd3;
  position: fixed;
  width: 6rem;
  height: 6rem;
  bottom: 3rem;
  right: 3rem;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.float-icon {
  width: 3rem;
  height: 3rem;
}
.wrapper {
  margin: 0 auto;
  max-width: 120rem;
}
.wrapper-services {
  margin: 0 auto;
  max-width: 90%;
}
/* ********************************* */
/* General Styling */
/* ********************************* */
.grid {
  display: grid;
}
.grid--2cols {
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
}
.grid--3cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4cols {
  grid-template-columns: repeat(4, 1fr);
}
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
}
.section-title {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 7rem;
  text-align: center;
  color: #111;
  line-height: 8.8rem;
  letter-spacing: -3px;
  padding: 4rem 0rem 2rem;
}
.section-title::after {
  content: "";
  width: 9rem;
  height: 0.3rem;
  background-color: #111;
  display: block;
  margin: 2rem auto 0 auto;
}
.section-title.no-after::after {
  content: none;
}
.section-text {
  font-size: 2.4rem;
  margin: 1.6rem auto 1.6rem auto;
  color: #111;
  text-align: center;
  font-weight: 700;
}
.centered-div {
  text-align: center;
  margin-top: 6rem;
}
.section-btn {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #111;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -0.5px;
  padding: 1.5rem 4.9rem;
  margin: 3rem auto;
  border: none;
  transition: all 0.3s;
}
.section-btn:hover,
.section-btn:active {
  background: transparent;
  color: #111;
  box-shadow: inset 0px 0px 0px 3px #111;
  font-weight: 800;
  cursor: pointer;
}
/* ********************************* */
/* HEADER */
/* ********************************* */
.main-header {
  height: 7rem;
  width: 100%;
  background-color: #111;
  position: fixed;
  z-index: 1;
}
.header-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.5rem;
}
.aclax-logo {
  height: 7rem;
  width: 7rem;
  display: block;
}
.header-nav {
  display: flex;
  gap: 2.4rem;
}
.header-nav-item:link,
.header-nav-item:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: -0.01rem;
}
.header-nav-item:hover,
.header-nav-item:active {
  color: #f7d74c;
}
.header-number {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
}
/* ********************************* */
/* Hero-section */
/* ********************************* */
.hero-section {
  height: 100vh;
  background-color: #f7d74c;
  position: relative;
  overflow: hidden;
}
.hero-title,
.service-title {
  font-size: 9.5rem;
  letter-spacing: -6px;
}
.hero-text {
  font-size: 2.4rem;
  font-family: "Lato", sans-serif !important;
  font-weight: 800;
  line-height: 1.3;
}
.hero-content {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50.5%;
  transform: translate(0, -50%);
  left: 0;
  right: 0;
}
.hero-button {
  text-decoration: none;
}
.logo-png {
  max-width: 80rem;
  height: auto;
  width: 100%;
  position: absolute;
  bottom: -15rem;
  right: 10rem;
}
/* ********************************* */
/* LOGO-section */
/* ********************************* */
.logo-container {
  max-width: 100%;
  background-color: #111;
  padding: 5.5rem 2rem;
}
.logo-title {
  background-color: #111;
  color: #e4c63f;
  padding: 0rem 4rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  position: relative;
}
.logo-title::before {
  content: "";
  height: 1px;
  width: 97%;
  background-color: #fff;
  opacity: 0.3;
  position: absolute;
  margin: auto;
}
.logo-title::before {
  top: 0.9rem;
  left: 0.5rem;
}
/* .logo-title::after {
  top: 0.75rem;
  right: -1rem;
} */
/* ********************************* */
/* CONTENT-section */
/* ********************************* */
.content-section {
  padding: 9.6rem 2rem;
}
.content-grid {
  grid-template-columns: 2fr 3fr;
  gap: 4rem;
  padding-left: 1rem;
}
.content-secondary-info {
  padding: 0rem 2rem;
}
.grid--gap {
  column-gap: 4rem;
  row-gap: 2rem;
}
.content-main-heading {
  font-size: 4.8rem;
  margin-bottom: 2.8rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 1;
}
.content-btn {
  letter-spacing: normal;
  padding: 1.8rem 2.5rem;
  font-size: 1.6rem;
}
.content-sub-heading {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.content-text,
.content-text-main {
  color: #777;
  line-height: 1.8;
  font-size: 1.3rem;
}
.content-text-main {
  font-size: 1.5rem;
}
/* ********************************* */
/* SERVICES-section */
/* ********************************* */
.service-section {
  background-color: #f7d74c;
  padding: 9.6rem 0rem 4.8rem;
}
.service-text {
  margin-bottom: 6rem;
  padding: 0rem 6.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.service-grid {
  column-gap: 1rem;
}
.service-flex-content {
  background-color: #fff;
  height: 55rem;
  max-width: fit-content;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.service-flex-content:hover {
  background-color: #111;
  color: #fff;
  transition: all 0.3s;
}
/* GPT Content */
/* ****************************** */
.service-flex-content:hover {
  background-color: #111;
}
.service-flex-content:hover .service-heading,
.service-flex-content:hover .service-content {
  color: #fff;
}
.service-flex-content:hover .service-btn {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}
/* ****************************** */
.service-heading {
  color: #111;
  font-size: 2.4rem;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 2rem;
}
.service-content {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #555;
}
.read-more-btn {
  width: fit-content;
  border: none;
  background-color: #111;
  color: #fff;
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  font-weight: 600;
  cursor: pointer;
  align-self: left;
}
.read-more-btn:hover {
  box-shadow: inset 0 0 0 3px #fff;
}
/* ********************************** */
/* Differentiators Section */
/* ********************************** */
.Differentiators-section {
  padding: 4.8rem 0rem;
}
.differ-title {
  font-size: 5.5rem;
  letter-spacing: -0.5px;
}
.differ-text,
.client-text,
.process-text,
.faq-text,
.blog-text {
  padding: 0rem 18rem;
  font-size: 1.6rem;
  color: #777;
  font-weight: 600;
  text-transform: uppercase;
}
.images-box {
  display: flex;
  gap: 2rem;
  margin: 5rem 2rem;
}
.dev-1,
.dev-2,
.dev-3 {
  height: 40vh;
  width: 100%;
  background-image: url(imgs/Differ-img/dev1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: relative;
}
.dev-2 {
  background-image: url(imgs/Differ-img/dev2.webp);
}
.dev-3 {
  background-image: url(imgs/Differ-img/dev3.webp);
}
.image-card-1,
.image-card-2,
.image-card-3 {
  background-color: #fff;
  color: #000;
  height: auto;
  width: 90%;
  padding: 2rem;
  border-radius: 9px;
  position: absolute;
  transition: all 0.5s;
  bottom: 20px;
  right: 17px;
}
.image-card-1:hover,
.image-card-2:hover,
.image-card-3:hover {
  cursor: pointer;
  transform: translateY(-1.4rem);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}
.red-title {
  display: inline-block;
  font-size: 1rem;
  background-color: #e71414;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -0.05px;
  font-weight: 600;
  padding: 0.2rem 1rem;
  text-align: center;
}
.card-heading {
  margin-top: 2.4rem;
  text-transform: uppercase;
  letter-spacing: -0.05px;
  font-size: 1.8rem;
  font-weight: 800;
}
.card-text {
  color: #555;
  font-size: 1.4rem;
  line-height: 1.5;
}
/* ********************************** */
/* SUCCESS Section */
/* ********************************** */
.success-section {
  padding: 4.8rem;
  background-color: #f7d74c;
  text-align: center;
}
.success-title {
  font-size: 6.5rem;
  letter-spacing: -0.75px;
  padding-bottom: 0rem;
}
.success-text {
  color: #111;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 2rem;
  letter-spacing: -0.5px;
  line-height: 1.4;
}
.success-btn {
  font-size: 1.8rem;
}
/* ********************************** */
/* SUCCESS Section */
/* ********************************** */
.mob-dev-content {
  padding: 9.6rem 4.8rem;
}
.mob-dev-heading {
  font-size: 2rem;
  line-height: 1.1;
}
.mob-dev-btn {
  margin-top: 4rem;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
}
/* ********************************** */
/* INDUSTRIES Section */
/* ********************************** */
.industries-section {
  background-color: #f7d74c;
  padding: 9.6rem;
  text-align: center;
}
.industries-title {
  padding-bottom: 0rem;
}
.industries-text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 5rem;
}
.grid-item {
  padding: 2rem;
}
.industries-sub-heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.industries-sub-text {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.lucide-icon {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: #111;
  color: #fff;
  padding: 1.2rem;
  margin: 1rem 0rem;
}
.border-right {
  border-right: 3px dashed #e4c63f;
}
.border-bottom {
  border-bottom: 3px dashed #e4c63f;
}
/* ********************************** */
/* slider Section */
/* ********************************** */
.slider-section {
  background-color: #111;
  padding: 4rem;
}
.slider-title,
.comitment-heading,
.blog-title {
  color: #fff;
  margin: 0 auto;
  padding: 4rem;
}
.section-title.after::after {
  background-color: #f7d74c;
}
/* ********************************** */
/* certified Section */
/* ********************************** */
.certified-section {
  background-color: #f7d74c;
  padding: 4.8rem;
  text-align: center;
}
.first-col,
.second-col,
.third-col,
.forth-col,
.fifth-col {
  line-height: 1;
  font-weight: 700;
  position: relative;
}
span {
  font-size: 4.8rem;
}
.stats-detail {
  font-size: 1.4rem;
}
.third-col {
  font-size: 1.8rem;
  margin-top: 2rem;
  line-height: 1;
  font-weight: 700;
}
.third-col::after {
  top: -3.5rem;
  right: -3.5rem;
}
.border-right-after::after,
.third-col::after {
  content: "";
  height: 8rem;
  border: 2px dashed #e4c63f;
  position: absolute;
}
.border-right-after::after {
  top: -1.2rem;
  right: -3.8rem;
}
/* ************************************ */
/* CLIENTS SECTION */
/* ************************************ */
.clients-section {
  padding: 9.6rem 4.8rem 4.8rem 4.8rem;
}
.clients-title {
  padding-bottom: 0rem;
}
.client-text {
  margin: 0 auto 6rem;
}
.client-1,
.client-2,
.client-3 {
  text-align: center;
}
.client-2 {
  position: relative;
}
.client-2::before,
.client-2::after {
  content: "";
  height: 40rem;
  position: absolute;
  border: 1.75px dashed #5555555b;
}
.client-2::before {
  top: 0rem;
  left: -2.5rem;
}
.client-2::after {
  top: 0rem;
  right: -2.5rem;
}
.client-img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.client-name {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}
.client-domain {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2.4rem;
}
.client-info {
  color: #777;
  font-size: 1.4rem;
  line-height: 1.8;
  padding: 2rem 4rem;
}
.brand-value {
  margin: 10rem auto;
  padding: 2.5rem;
  border: 1px solid #e9e9e9;
  position: relative;
}
.brand-value::after {
  content: "Our valued Brands & Agencies";
  text-transform: uppercase;
  font-weight: 600;
  background-color: #fff;
  color: #b9b6b6;
  padding: 0rem 1rem;
  position: absolute;
  top: -7%;
  right: 42%;
}
.brand-value-logo {
  height: 6rem;
  width: 8rem;
  opacity: 0.4;
}
.brand-value-logo:hover {
  opacity: 1;
}
/* ************************************ */
/* PROCESS SECTION */
/* ************************************ */
.process-section {
  padding: 4.8rem;
  background-color: #f7d74c;
  text-align: center;
}
.process-title {
  padding-bottom: 0rem;
}
.process-text {
  color: #111;
}
.process-1 {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-border {
  border-right: 2px dashed #d2b32f;
}
.process-img {
  height: 8rem;
  width: 8rem;
  margin-bottom: 1.5rem;
}
.process-heading {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
}
.process-content {
  color: #333;
  font-size: 1.4rem;
  line-height: 1.6;
  text-align: center;
}
/* ************************************ */
/* COMMITMENT SECTION */
/* ************************************ */
.comitment-section {
  padding: 9.6rem 4.8rem;
  background-color: #111;
  color: #fff;
}
.comit-text {
  color: #777;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-top: 0rem;
}
.comit-icon {
  color: #b3b2b2;
  height: 7rem;
  width: 7rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 2px solid #555;
  border-radius: 50%;
}
.comit-heading {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 2rem;
}
.comit-parah {
  font-size: 1.3rem;
  line-height: 1.8;
  font-weight: 400;
  color: #777;
}
/* ************************************ */
/* COMMITMENT SECTION */
/* ************************************ */
.faq-section {
  padding: 9.6rem 4.6rem;
}
.faq-accordian {
  flex-direction: column;
  justify-content: normal;
}
.faq-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(119, 119, 119, 0.2);
}
.faq-card-content {
  display: block;
  text-align: left;
  padding: 2.5rem 0rem;
  font-size: 2rem;
  color: #777;
  font-weight: 400;
}
.faq-icon {
  color: #777;
}
/* ************************************ */
/* AWARD SECTION */
/* ************************************ */
.award-section {
  padding: 9.6rem 0rem;
  background-color: #f7d74c;
}
.flex-sec {
  flex-direction: column;
  text-align: center;
}
.award {
  height: 12rem;
  width: 12rem;
  align-self: center;
  margin-bottom: 1rem;
}
.award-heading {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
.award-detail {
  font-size: 1.6rem;
  font-weight: 600;
}
/* ************************************ */
/* Blog SECTION */
/* ************************************ */
.blog-section {
  padding: 9.6rem 4.8rem;
  background-color: #000;
}
.blog-title {
  padding-bottom: 0rem;
}
.blog-text {
  margin-bottom: 4rem;
}
.blog-flex {
  padding-top: 0rem;
  gap: 2rem;
}
.blog-flex-sec {
  background-color: #fff;
  padding: 5rem 5rem 7rem;
}
.blog-flex-sec:hover {
  cursor: pointer;
}
.flex-right-border {
  border-right: 2px solid #333;
}
.blog-heading {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  letter-spacing: -0.5px;
}
.blog-heading::after {
  display: block;
  content: "";
  background-color: #000;
  height: 0.3rem;
  width: 7rem;
  margin-top: 1rem;
}
.blog-detail {
  color: #777;
  font-size: 1.4rem;
  line-height: 1.8;
  margin-bottom: 6rem;
}
.blog-btn {
  text-transform: uppercase;
}
.blog-btn:hover {
  color: #222;
  background: #fff;
  font-weight: 600;
  box-shadow: 0px 0px 0px 3px #222;
  cursor: pointer;
}
/* ************************************ */
/* Blog SECTION */
/* ************************************ */
.footer-1 {
  padding: 6rem 0 2rem;
  margin-left: 3rem;
}
.footer-list {
  list-style: none;
  padding-bottom: 4rem;
}
.footer-flex {
  align-items: start;
  justify-content: normal;
  gap: 6rem;
}
li a {
  text-decoration: none;
  color: #758495;
  font-size: 1.5rem;
  line-height: 2;
}
.footer-heading {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.footer-detail {
  color: #758495;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.footer-number {
  font-weight: 800;
  font-size: 3.2rem;
  color: #111;
}
.footer-text {
  margin-bottom: -1rem;
  display: block;
  width: 100%;
  text-align: right;
}
.footer-2 {
  padding: 2rem;
  background-color: #111;
}
.footer-2-flex {
  padding: 2rem 0rem 4rem;
}
.footer-content {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.3;
}
.bg-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  width: 33rem;
}
.img-box {
  position: relative;
}
.img-box::after {
  content: "";
  height: 3rem;
  width: 1rem;
  position: absolute;
  top: 1.2rem;
  right: -2rem;
  border-right: 1px solid #999;
}
